//
//
// -------------------------------------------------------------------------
//  Meteor JS
//
atom-text-editor::shadow .api.meteor {
  &.template { color: @sulu; font-weight: bold; }
  &.session { color: @kobi; font-weight: bold; }
  &.ddp { color: lighten(@scooter,10%); font-weight: bold; }
  &.core { color: @red; font-weight: bold; }
  &.blaze { color: @tower-gray; }
  &.router { color: @light-gray; }
}
atom-text-editor::shadow { .api.mongo.collection {
  color: @pink-orange;
  font-weight: bold;
  .keyword.control + & {
    font-style: italic;
    }
 }}
