@import "syntax-variables";

@font-face {
						font-family: 'Source Code Pro';
						src: url('atom://apathy-theme/styles/fonts/SourceCodePro-Regular.ttf') format('truetype');
						font-weight: normal;
						font-style: normal;
}
@font-face {
						font-family: 'Source Code Pro';
						src: url('atom://apathy-theme/styles/fonts/SourceCodePro-Mediumttf') format('truetype');
						font-weight: 600;
						font-style: normal;
}
@font-face {
						font-family: 'Source Code Pro';
						src: url('atom://apathy-theme/styles/fonts/SourceCodePro-Bold.ttf') format('truetype');
						font-weight: 700;
						font-style: normal;
}
@font-face {
						font-family: 'Source Code Pro';
						src: url('atom://apathy-theme/styles/fonts/SourceCodePro-Light.ttf') format('truetype');
						font-weight: 300;
						font-style: normal;
}
@font-face {
						font-family: 'Source Code Pro';
						src: url('atom://apathy-theme/styles/fonts/SourceCodePro-Black.ttf') format('truetype');
						font-weight: 900;
						font-style: normal;
}


atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
  font-family: 'Source Code Pro';
  // font-family: 'Anonymous Pro';
  font-weight: normal;
  // text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: hsla(0, 0%, 0%, 0.01) 0 0 1px !important;
  // letter-spacing: -0.01em !important;
}
atom-pane:not(.active) atom-text-editor {
  background-color: @syntax-inactive-bg-color;
  opacity: .4;
  color: hsla(0, 100%, 100%, 0.6);
}
atom-pane:not(.active) atom-text-editor .underlayer {
  background-color: @syntax-underlayer-bg-color;
}
atom-pane-container atom-pane {
  background-color: hsl(204, 7%, 14%);
}
atom-pane-container atom-pane:not(.active) {
  opacity: 0.8;
}
atom-pane-container atom-pane:before {
  background-color: hsla(260, 20%, 28%, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: ' ';
}
atom-text-editor .gutter, :host .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
  box-shadow: inset -1px 0px hsla(0, 100%, 100%, 0.2),
						  1px 0px hsl(0,0%,0%,0.9);
}
atom-text-editor::shadow atom-text-editor-minimap, atom-text-editor atom-text-editor-minimap {
  background: @minimap-bg-color;
  box-shadow: inset 0px 17px 56px hsla(0, 0%, 0%, 0.4);
}
atom-pane:not(.active) atom-text-editor::shadow atom-text-editor-minimap, atom-text-editor atom-text-editor-minimap {
  background: hsla(0, 0%, 0%, 0.8);
}
atom-text-editor::shadow atom-text-editor-minimap::shadow .minimap-visible-area, atom-text-editor atom-text-editor-minimap::shadow .minimap-visible-area {
  background-color: hsl(0, 0%, 53%);
opacity: .2;
background: linear-gradient(90deg, @minimap-gradient-from 0%, @minimap-gradient-to 50%, @minimap-gradient-from 100%);
box-shadow: inset 0px 17px 38px hsla(0, 0%, 0%, 0.4);
}
atom-text-editor .gutter .line-number.cursor-line, :host .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection, :host .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .wrap-guide, :host .wrap-guide {
  color: @syntax-wrap-guide-color;
  background-color: hsl(0, 0%, 0%);
border-right: 1px solid hsl(259, 25%, 15%);
border-left: 2px solid hsl(0, 0%, 0%);
}

atom-text-editor .indent-guide, :host .indent-guide {
  color:  @syntax-indent-guide-color;
}

atom-text-editor .invisible-character, :host .invisible-character {
  color: @syntax-invisible-character-color;
}

atom-text-editor .search-results .marker .region, :host .search-results .marker .region {
  background-color: transparent;
  border: @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region, :host .search-results .marker.current-result .region {
  border: @syntax-result-marker-color-selected;
}

atom-text-editor.is-focused .cursor, :host(.is-focused) .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region, :host(.is-focused) .selection .region {
  background-color: @syntax-selection-color;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection, atom-text-editor.is-focused .line.cursor-line, :host(.is-focused) .line-number.cursor-line-no-selection, :host(.is-focused) .line.cursor-line {
  background-color: #2C2830;
}

.comment {
  color: #5a6466;
}

.string {
  color: #bebe5f;
}

.constant.numeric {
  color: #ae82ff;
}

.constant.language {
  color: #ad38ff;
}

.constant.character, .constant.other {
  color: #ff5d38;
}

.variable {
}

.keyword {
  color: #e70063;
}

.storage {
  color: #ff5d38;
}

.storage.type {
  font-weight: bold;
  color: #26a6a6;
}

.entity.name.class {
  text-decoration: underline;
  color: #ff5d38;
}

.entity.other.inherited-class {
  font-style: italic;
  text-decoration: underline;
  color: #ff5d38;
}

.entity.name.function {
  font-weight: bold;
  color: #d5f214;
}

.variable.parameter {
  font-style: italic;
  color: #ffa016;
}

.entity.name.tag {
  color: #dedede;
}

.entity.other.attribute-name {
  color: #ff7859;
}

.support.function {
  color: #a0c2ca;
}

.support.constant {
  color: #60eafd;
}

.support.type, .support.class {
  color: #7ba0a9;
}

.support.other.variable {
}

.invalid {
  color: #f8f8f0;
  background-color: #00a8c6;
}

.invalid.deprecated {
  color: #f8f8f0;
  background-color: #00a8c6;
}

.meta.structure.dictionary.json .string.quoted.double.json {
  color: #bcd42a;
}

.meta.diff, .meta.diff.header {
  color: #75715E;
}

.markup.deleted {
  color: #00A8C6;
}

.markup.inserted {
  color: #A6E22E;
}

.markup.changed {
  color: #E6DB74;
}

.constant.numeric.line-number.find-in-files:not(.match) {
  color: rgba(143, 190, 0, 0.63);
}

.entity.name.filename.find-in-files {
  color: #E6DB74;
}

.keyword.other {
  color: #b7b1a9;
}

.meta.property-value, .support.constant.property-value, .constant.other.color {
  color: #eeffe0;
}

.meta.structure.dictionary.json .string.quoted.double.json {
  color: #ff5d38;
}

.meta.structure.dictionary.value.json .string.quoted.double.json {
  color: #bcd42a;
}

.meta.property-name .support.type.property-name {
}

.meta.property-value .punctuation.separator.key-value {
  color: #ede0ce;
}

.keyword.other.use, .keyword.other.function.use, .keyword.other.namespace, .keyword.other.new, .keyword.other.special-method, .keyword.other.unit, .keyword.other.use-as {
  color: #26a6a6;
}

.meta.use .support.class.builtin, .meta.other.inherited-class .support.class.builtin {
  color: #ede0ce;
}

.source.coffee .variable.other {
  color: #a1d1e5;
}

.source.coffee .variable.assignment.coffee {
  color: #fadf90;
}

.source.coffee .meta.delimiter.method.period.coffee {
  font-weight: bold;
  color: #c3ffff;
}

.entity.name.section.markdown {
  color: #ff5d38;
}

.punctuation.definition.heading.markdown {
  color: #26A6A6;
}

.markup.raw.inline.markdown {
  color: #bcd42a;
}

.punctuation.definition.bold.markdown, .punctuation.definition.italic.markdown {
  color: #26A6A6;
}

.punctuation.definition.string.begin.markdown, .punctuation.definition.string.end.markdown {
  color: #26A6A6;
}

.punctuation.definition.metadata.markdown {
  color: #26A6A6;
}

.markup.underline.link.markdown, .markup.underline.link.image.markdown, .meta.image.inline.markdown {
  font-style: italic;
  color: #26a6a6;
}

.markup.bold.markdown, .markup.italic.markdown {
  color: #26a6a6;
}

.markup.italic.markdown {
  font-style: italic;
}

.markup.bold.markdown {
  font-weight: bold;
}

.markup.raw.block.markdown {
  color: #00a8c6;
}

.markup.deleted.git_gutter {
  color: #e61f44;
}

.markup.inserted.git_gutter {
  color: #a7da1e;
}

.markup.changed.git_gutter {
  color: #f7b83d;
}

.entity.other.attribute-name.class.css {
  color: #e3e3e3;
}

.source.scss .punctuation.section.property-list {
  color: rgba(255, 255, 255, 0.25);
}

.source.scss .meta.attribute-selector.scss .punctuation.separator.operator.scss, .source.scss .meta.attribute-selector.scss {
  color: rgba(255, 255, 255, 0.33);
}

.source.coffee.embedded.source {
  color: #dbe1e5;
  background-color: #303838;
}

.string.interpolated {
  color: #45ffcd;
}

.string.regexp {
  font-style: italic;
  color: #eb9949;
}

.source.jade .tag.jade .complete_tag.jade .constant.language.js {
  color: #8ea5a0;
}

.meta.brace.round.coffee {
  font-weight: bold;
  font-style: italic;
  color: #94c5f4;
}

.comment.block.coffee {
  font-style: italic;
  color: #606060;
}

.comment.block.coffee .storage.type.annotation.coffeescript {
  font-weight: bold;
  color: rgba(90, 144, 123, 0.58);
}

.source.coffee {
  color: #ffffff;
}

.source.coffee .string.quoted.single.coffee {
  color: #cce67a;
}

.source.coffee .meta.function.coffee .entity.name.function.coffee {
  font-weight: bold;
  color: #a1e617;
}

.sublimelinter.mark.warning {
  color: #DDB700;
}

.sublimelinter.mark.error {
  color: #D02000;
}

.gutterForeground {
  color: #33333;
}

.sublimelinter.mark.warning {
  color: #DDB700;
}

.sublimelinter.gutter-mark {
  color: #FFFFFF;
}

.sublimelinter.mark.error {
  color: #D02000;
}

.constant.id.tag.jade {
  color: #d99fb6;
}

.source.js .meta.brace.curly, .source.js .punctuation.terminator.statement.js {
  color: #6B618d;
}

.source.js .meta.brace.round {
  font-weight: bold;
  color: #7b95a2;
}

.source.spec.js {
  color: hsl(250,7%,97%);
  .support.class.js {
    color: #d286a5;
    font-weight: 700;
  }
  string.quoted {
    color: #cce67a;
    font-weight: 300;
  }
  .storage.type.function {
    color: #3f7066;
    font-weight: 500;
  }
  .meta.brace.round, .meta.brace.curly, .punctuation.terminator.statement {
    font-weight: 300;
    color: #829296;
  }
}
